 %titulos {
    color: $amarillo;
    font-family: $fuenteprincipal;
    font-size: 75px;
    text-align: justify;
    margin-left: 300px;
 }

 %subtitulos{
      font-family: $fuentesecundaria;
      font-size: 25px;
  
 }

 %listas {
   font-family: $fuenteprincipal;
   font-size: 15px;
 }